:root {
	--color-bg-contrast: #b4d0e7;
	--color-designit: #a2d39b;
	--color-text-alter: #61082b;
	--color-btn: #0061ff;
	--color-asu: #61082b;
	--color-world-bycicle: #d5001f;
	--color-hearst: #b4d0e7;
	--color-florida: #0093ce;
	--color-tops: #ff1c1c;
	--color-lonley: #0d2481;
	--color-clear: #ffd830;
    --color-bg-body: #fff;
}
/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg-body);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 4em;
    font-weight: 900;
    width: 80%;
    padding: 50px 0;
}

/* utiliy */

.img-fluid{
    width: 100%;
}
.debug{
    border:1px solid black;
    min-height: 20px;
}
.text-center{
    text-align: center;
}

/* flex */

.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
    align-content: center;
}
/* bottoni */

.btn{
    padding: 10px 15px;
}
.btn-blue{
    background-color: var(--color-btn);
    color: var(--color-bg-body);
}

/* header */

.logo-container{
    padding: 10px;
}
.logo-container img{
    width: 120px;
}
nav.d-flex{
    height: 70px;
    padding: 5px;
}
nav ul>li{
    padding: 10px;
}

/* main */
.hero-container{
    background-color: var(--color-bg-contrast);
    height: 90vh;
}
.hero-left{
    width: 35%;
}
.hero-right{
    width: 65%;
}
span.btn.hero{
    display: inline-block;
    margin: 25px 0;
}
div.hero{
    margin-bottom: 25px;
}
.icon.hero{
    font-size: 2em;
}